

#zentrieren{
    margin: 10px auto;
    text-align: center;
    margin-bottom: 0px;
    background-color: floralwhite;
}

#rechtbuendig{
    justify-content: end;
}

#suche{
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

#anlegen {
    margin-top: 10px;
    margin-bottom: 10px;
}

