
#centeredContent{
    justify-content: center;
    margin-top: 20px;
}

.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

#uploadZone{
    margin-top: 20px;
}

#js-upload-files {
    width: 100%;
}